/* START OF Visual Composer Resets */


.vc_row{
    display: flex;
    flex-wrap: wrap;
}

.vc_col-lg-1, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12,
.vc_col-md-1, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12,
.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12,
.vc_col-xs-1, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12{
    float: none;
}

.vc_column_container>.vc_column-inner{
    height: 100%;
}

.wpb_wrapper{
    height: 100%;
}

/* END OF Visual Composer Resets */



/* START OF CSS Resets */

html{
    margin-top: 0 !important;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    color: #000;
    font-size: 16px; /* min-width(1920)->15px or 16px */
    line-height: 1.35;
    letter-spacing: 1px;
}

p{
   font-size:1.1rem; 
   line-height: 1.5;
}

.base-text{
    font-size: 14.5px; /* min-width(1920)->15px or 16px */
    line-height: 1.35;
    letter-spacing: 1.1px;
}

.large-text{
    font-size: 20px;
    font-weight: 300;
}

.extra-large-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}

h1{
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 1 ;
}

h1.page-title{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1;  
}

h2{
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 1 ;
}

h3{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 1;
}

h4{
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0.8px;
}
.small-box h4 {
    font-size: 28px;
    margin-top: 20px;
    max-width: 490px;
}

h5{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.8px;
}

h6{
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.8px;
    margin-bottom: 0;
}

span{
    display: block;
}

a{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

[class*=col-]{
    padding-left: 0;
    padding-right: 0;
}

/* BUTTONS */

.admine-button{
    position:relative;
    display:block;

}
.admine-btn{
    /* position:relative; */
    /* display:inline-block; */
    width:auto;
    height:auto;
    margin:15px 0;
}

.btn-small{
    font-weight: 800;
    transition: color 0.2s, background 0.2s;
    display:inline-block;
    font-size: 14px;
    padding: 5px;
    position: relative;
}

.btn-medium{
    font-weight: 800;
    transition: color 0.2s, background 0.2s;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    padding: 18px;
    letter-spacing: .8px;
    min-width: 250px;
    position: relative;
}

.btn-large{
    font-weight: 800;
    transition: color 0.2s, background 0.2s;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    padding: 27px;
    letter-spacing: .8px;
    min-width: 325px;
    position: relative;
}

.btn-extra-large{
    font-weight: 800;
    transition: color 0.2s, background 0.2s;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    padding: 33px;
    letter-spacing: .8px;
    min-width: 330px;
    position: relative;
}

.btn-small::before,
.btn-medium::before,
.btn-large::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn-small::after,
.btn-medium::after,
.btn-large::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.6s cubic-bezier(0.66,0,.29,1);
    z-index: -1;
}

.btn-small:hover::after,
.btn-medium:hover::after,
.btn-large:hover::after{
    transform-origin: bottom;
    transform: scaleY(1);
}


/* Buttons Modifiers */

/* to ::before einai to bg color */
/* to ::after einai to bg color sto hover */

.btn-small.btn--black::before,
.btn-medium.btn--black::before,
.btn-large.btn--black::before{
    background-color: #000;
}

.btn-small.btn--black::after,
.btn-medium.btn--black::after,
.btn-large.btn--black::after{
    background-color: red;
}

.btn-small.btn--grey::before,
.btn-medium.btn--grey::before,
.btn-large.btn--grey::before{
    background-color: #E0E1E3;
}

.btn-small.btn--grey::after,
.btn-medium.btn--grey::after,
.btn-large.btn--grey::after{
    background-color: #000;
}

.btn-small.btn--red::before,
.btn-medium.btn--red::before,
.btn-large.btn--red::before{
    background-color: #EB0101;
}

.btn-small.btn--red::after,
.btn-medium.btn--red::after,
.btn-large.btn--red::after{
    background-color: #000;
}

.btn-small.btn--transparent::before,
.btn-medium.btn--transparent::before,
.btn-large.btn--transparent::before{
    background-color: transparent;
}

.btn-small.btn--transparent::after,
.btn-medium.btn--transparent::after,
.btn-large.btn--transparent::after{
    background-color: #000;
}

.btn-small.btn--transparent.btn-light::before,
.btn-medium.btn--transparent.btn-light::before,
.btn-large.btn--transparent.btn-light::before{
    background-color: transparent;
}

.btn-small.btn--transparent.btn-light::after,
.btn-medium.btn--transparent.btn-light::after,
.btn-large.btn--transparent.btn-light::after{
    background-color: #000;
}

.btn-small.btn--transparent.btn-light.hover-red::after,
.btn-medium.btn--transparent.btn-light.hover-red::after,
.btn-large.btn--transparent.btn-light.hover-red::after{
    background-color: #EB0101;

}



/* END OF Buttons Modifiers */


.btn--black, .btn--black:hover{
    color: #fff;
}

.btn--grey, .btn--grey:hover{
    color: #fff;
}

.btn--red, .btn--red:hover{
    color: #fff;
}

.btn--transparent{
    color: #000;
    border:1px solid #000;
    background-color: transparent;
}

.btn--transparent:hover{
    color: #fff;
    background-color: transparent;
}

.btn--transparent.btn-light{
    color: #fff;
    border:1px solid #fff;
}

.btn--transparent.btn-light:hover{
    color: #fff;
    /* background-color: #000; */
    border:1px solid #000;
}
.btn--transparent.btn-light.hover-red:hover{
    color: #fff;
 
    border:1px solid #EB0101;
}

/* END OF CSS Resets */


/* Custom Cursors */

.custom-cursor{
    position: fixed;
    z-index: 100;
    pointer-events: none;
    transform-origin: center;
}

.custom-cursor > div{
    position: absolute;
    pointer-events: none;
}

.custom-cursor #read-more{
    background-color: red;
    color: #fff;
    font-weight: 800;
    display:inline-block;
    font-size: 14px;
    padding: 5px;
    opacity: 0;
}

.custom-cursor #read-more span{
    white-space: pre;
}

.custom-cursor #right-arrow{
    display: flex;
    align-items: center;
    opacity: 0;
}

.custom-cursor #right-arrow svg{
    width: 95px;
}

.custom-cursor #right-arrow svg > g > g{
    stroke: #fff;
}

.custom-cursor #right-arrow span{
    color: #fff;
    font-size: 12px;
}

/* END OF Custom Cursors */


/* Header */

header{
    position: fixed;
    width: 100%;
    padding: 12px 20px;
    z-index: 10;
    color:#fff;
}
header.dark{ 
    color:#000;
}
/* left-side */
.left-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: transparent;
    transition: background-color .25s;  
}
header .logo{
    width: 150px; /* Temporary */
    
}
header .logo a{
    /* position:relative;
    display:block;      */
}
header .logo a img{
    /* position:absolute;*/
    display:block; 
    top:0;
    left:0;
    width: 150px; 
    /* visibility: hidden;   */
}
header .logo a img.hide-logo{
    display:none; 
}
header .logo a img#logo-scroll{
    position:absolute;
    display:none;
    top:0;
    left:0;
    width: 150px; 
    transition: all .25s; 
}
header .logo a img#logo-scroll.logo-visible{    
    display:block;
    transition: all .25s;  
}

header.solid .logo a img#logo-scroll{
    display: block;
}

header .small-page-title{
    margin-right: 60px;
    display: flex;
    align-items: center;
    margin-right: 20%;
    color: inherit;
    transition: color .25s;
}

header .small-page-title h5{
    margin-bottom: 0;
    margin-right: 35px;
    letter-spacing: 0.8px;
}

header .right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: transparent;
    transition: background-color .25s;
}
/* Language Menu */
ul#menu-language-menu{
    list-style-type: none; 
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}
ul#menu-language-menu li{
    /* display:inline-block; */
    float: left;
    padding: 0 5px;
}
header .right-side .language-switcher{
    margin-right: auto;
    margin-left: 30px;
    display: flex;
}

header .right-side .language-switcher span{
    margin: 0 5px;
    font-weight: 800;
    font-size: 14px;
    opacity: 0.6;
    color: inherit;
    letter-spacing: .8px;
    transition: color .25s;
}

header .right-side .language-switcher span.active-language{
    opacity: 1;
}
header .right-side .language-switcher .wpml-ls-current-language span{
    opacity: 1;
}
/* End Language Menu */

header .right-side .consumer-line{
    margin-right: 60px;
    display: flex;
    align-items: center;
    margin-right: 20%;
    color: inherit;
    transition: color .25s;
}

header .right-side .consumer-line h6{
    margin-bottom: 0;
    margin-right: 35px;
    letter-spacing: 0.8px;
}


header .right-side .consumer-line span{
    font-weight: 100;
    letter-spacing: 2px;
}

header .right-side .nav-button{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

header .right-side .nav-button span{
    width: 100%;
    height: 6px;
    background-color: #fff;
    transition: background-color .25s, width .3s;
}
header.dark .right-side .nav-button span{ 
    background-color: #000;
}

header .right-side .nav-button span:first-child{
    margin-bottom: 6px;
    width: 75%;
}

header .right-side .nav-button:hover span:first-child{
    width: 100%;
}

header .right-side .nav-button:hover span:last-child{
    width: 75%;
}
/* Header Solid */

header.solid{
    background-color: #fff;
    display:block;
    color: #000;
}

header.solid .right-side .nav-button span{
    background-color: #000;
}
#content.content_top_margin{
    padding-top:66px;
}
/* Header Fixed */

header.fixed-header{
    background-color: #fff;
}

header.fixed-header .right-side .consumer-line,
header.fixed-header .right-side .language-switcher span,
header.fixed-header .small-page-title{
    color: #000;
}

header.fixed-header .right-side .nav-button span{
    background-color: #000;
}


/* Home hero section */

#home-hero-section{
    height: 100vh;
}

@media screen and (max-width: 1200px){
    #home-hero-section{
        height: unset;
    }
}

.home-hero-slider{
    height: 100vh;
}

@media screen and (max-width: 1200px){
    .home-hero-slider{
        height: 70vh;
    }
}

/* .home-hero-slider-background{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.home-hero-slider-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16,16,16,0.57) 0%, rgba(16,16,16,0.65) 100%);
}

.home-hero-slider-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.home-hero-slider .slide{
    display: flex;
    justify-content: space-between;
    padding-top: 20%;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;   
}

.home-hero-slider .slide-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.home-hero-slider .slide-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16,16,16,0.57) 0%, rgba(16,16,16,0.65) 100%);
}

.home-hero-slider .slide-background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.home-hero-slider .slide-date-info{
   margin-left: 3%;
   color: #fff;
   font-family: 'Roboto Mono';
   font-weight: 800;
   color: #E0E1E3;
   font-size: 24px;
   opacity: 0;
}

.home-hero-slider .slide-text{
    margin-right: 10%;
}

.home-hero-slider .slide-title{
    color: #fff;
    font-size: 130px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 2px;
    visibility: hidden;
    opacity: 0;
}

.home-hero-slider .slide-description{
    max-width: 300px;
    color: #fff;
    margin-top: 10vh;
    font-weight: 300;
    visibility: hidden;
    opacity: 0;
}

.home-hero-boxes{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    .home-hero-boxes{
        height: unset;
    }
}

.home-hero-box{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
    color: #fff;
    position: relative;
    transition: flex-grow 0.4s;
}

@media screen and (max-width: 768px){
    .home-hero-box{
        transition: none;
        flex: unset;
        height: 400px;
        width: 100%;
    }
}
/* 
.home-hero-box:hover{
    flex: 1.2;
} */

.home-hero-box .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 768px){
    .home-hero-box .bg-image{
        background-position: center bottom;
    }

    .home-hero-box{
        justify-content: flex-start;
    }
}

.home-hero-box .bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16,16,16,0.57) 0%, rgba(16,16,16,0.65) 100%);
}

.home-hero-box-content{
    max-width: 185px;
    position: relative;
    z-index: 3;
}

.home-hero-box-content h5{
    margin-bottom: 10px;
}

.home-hero-box-description{
    font-weight: 300;
}

.home-hero-box-description p{
    font-size: inherit;
}

.home-hero-box-content h5,
.home-hero-box-description{
    transform: translateY(50px);
    transition: transform 0.25s ease-out;
}

.home-hero-box-content a{
    opacity: 0;
    transition: opacity 0.2s;
}

.home-hero-box:hover .home-hero-box-content h5,
.home-hero-box:hover .home-hero-box-description{
    transform: translateY(0);
}

.home-hero-box:hover .home-hero-box-content a{
    opacity: 1;
    transition: opacity 0.3s;
}

@media screen and (max-width: 768px){
    .home-hero-box-content h5,
    .home-hero-box-description{
        transform: translateY(0);
    }

    .home-hero-box:hover .home-hero-box-content h5,
    .home-hero-box:hover .home-hero-box-description{
        transform: none;
    }

    .home-hero-box:hover .home-hero-box-content a{
        opacity: 0;
    }
}

.our-industrial-applications{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media screen and (max-width: 768px){
    .our-industrial-applications{
        height: unset;
        padding: 90px 0;
    }
}

.our-industrial-applications-content{
    max-width: 165px;
}

.our-industrial-applications img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.our-industrial-applications h5{
    margin-bottom: 65px;
}

.our-industrial-applications .description{
    margin-bottom: 17px;
}


.our-industrial-applications .description p{
    font-size: inherit;
}


/* Landings - Top Section */

.landing-top-section{
    height: 100vh;
    position: relative;
}

.landing-top-section .container{
    height: 100%;
}

.landing-top-section .landing-top-section-inner{
    padding: 16vh 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.landing-top-section .landing-top-section-title{
    text-transform: uppercase;
    max-width: 420px;
    color: #fff;
}

.landing-top-section .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing-top-section .bg-image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16,16,16,0.57) 0%, rgba(16,16,16,0.65) 100%);
}

.landing-top-section .cta-links{
    display: flex;
    flex-direction: column;
}

.landing-top-section .cta-button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #101010;
    color: #fff;
    padding: 31px 43px;
}

.landing-top-section .cta-button span{
    font-weight: 800;
    margin-right: 50px;
}

.landing-top-section .cta-button svg{
    width: 58px;
    transition: transform .25s;
}

.landing-top-section .cta-button:hover svg{
    transform: translateX(10px);
}

.landing-top-section .cta-button svg > g > g{
    stroke: #fff;
 }







/* Fancy Box - Background image on hover */

.fancy-box-img-on-hover{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0; /* min-width: ~1500px -> padding: % */
    position: relative;
    height: 100%;
    cursor: pointer;
}

.fancy-box-img-on-hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    opacity: 1;
    transition: opacity 0.3s;
}

.fancy-box-img-on-hover .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fancy-box-img-on-hover .bg-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16,16,16,0.57) 0%, rgba(16,16,16,0.65) 100%);
}

.fancy-box-img-on-hover .fancy-box-inner{
    width: 90%;
    max-width: 460px;
    position: relative;
    z-index: 4;
}

.fancy-box-img-on-hover .fancy-box-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.fancy-box-img-on-hover .fancy-box-info .duration{
    color: #707070;
}

.fancy-box-img-on-hover .fancy-box-content{
    max-width: 300px;
}

.fancy-box-img-on-hover .fancy-box-content h3{
    max-width: 260px;
    margin-bottom: 22px;
}

.fancy-box-img-on-hover .fancy-box-content p{
    font-family: 'Roboto Mono';
    margin-bottom: 150px;
}

@media screen and (max-width: 768px){
    .fancy-box-img-on-hover{
        padding: 80px 0;
    }

    .fancy-box-img-on-hover .fancy-box-info{
        margin-bottom: 50px;
    }

    .fancy-box-img-on-hover .fancy-box-content h3{
        max-width: 260px;
        margin-bottom: 10px;
    }

    .fancy-box-img-on-hover .fancy-box-content p{
        font-family: 'Roboto Mono';
        margin-bottom: 80px;
    }
}

.fancy-box-img-on-hover:hover::before{
   opacity: 0;
}

.fancy-box-img-on-hover h3,
.fancy-box-img-on-hover p,
.fancy-box-img-on-hover h6{
    transition: color 0.3s;
}

.fancy-box-img-on-hover:hover h3,
.fancy-box-img-on-hover:hover p,
.fancy-box-img-on-hover:hover h6{
    color: #fff;
}

.fancy-box-img-on-hover:hover .duration{
    color: #E0E1E3;
}

/* Fancy Box - Background vector on hover */

.fancy-box-bg-vector{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px 40px;
    transition: background 0.3s;
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .fancy-box-bg-vector{
        padding: 30px 30px;
    }
}

.fancy-box-bg-vector.box-bg-lightgrey{
    background-color: #f9f9f9;
}
.fancy-box-bg-vector.box-bg-white{
    background-color: #ffffff;
}
.fancy-box-bg-vector.box-bg-darkgrey{
    background-color: #e0e1e3;
}

.fancy-box-bg-vector .bg-svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.fancy-box-bg-vector .bg-svg img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fancy-box-bg-vector:hover .bg-svg{
    opacity: 1;
}

.fancy-box-bg-vector .cta-title{
    max-width: 500px;
    text-align: center;
    align-self: center;
    margin: 20% 0;
    z-index:2;
}

@media screen and (max-width: 1100px){
    .fancy-box-bg-vector .cta-title{
        margin: 27% 0;
    }
    
}

.fancy-box-bg-vector .cta-description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.fancy-box-bg-vector .cta-description svg{
   width: 63px;
}

.fancy-box-bg-vector.red-hover:hover{
    background-color: #EB0101;
}

.fancy-box-bg-vector.black-hover:hover{
    background-color: #000;
}

.fancy-box-bg-vector .cta-title,
.fancy-box-bg-vector .cta-description{
    transition: color 0.3s;
}

.fancy-box-bg-vector:hover .cta-title,
.fancy-box-bg-vector:hover .cta-description{
    color: #fff;
}

.fancy-box-bg-vector:hover .cta-description svg > g > g{
    stroke: #fff;
 }
/* Fancy Box - Small Image */

.fancy-box-small-image{
    margin-bottom:70px;
    cursor: pointer;
    height: 100%;
}

.fancy-box-small-image > *:not(img){
    padding: 0 18%;
}
.fancy-box-small-image.large-box > *:not(img){
    padding: 0;
}
.fancy-box-small-image.small-box > *:not(img){
    padding: 0;
}

.fancy-box-small-image .small-title{
    margin-top: 20px;
}

.fancy-box-small-image h4{
    margin-top: 30px;
    max-width: 490px;
}
.fancy-box-small-image.small-box h4{
    font-size: 28px;
    margin-top: 20px;
    max-width: 490px;
}
.fancy-box-small-image.small-box .large-text{
    font-size: 16px;
}
.fancy-box-small-image img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.35s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fancy-box-small-image a.btn-small{
    opacity: 0;
    transition: opacity 0.35s;
}

.fancy-box-small-image:hover img,
.fancy-box-small-image:hover a.btn-small{
    opacity: 1;
}
@media screen and (max-width:1000px){
    .fancy-box-small-image > *:not(img){
        padding: 0;
    } 
    .fancy-box-small-image h4{
        font-size: 28px;
        margin-top: 20px;
        max-width: 490px;
    }
    .fancy-box-small-image .large-text{
        font-size: 16px;
    }
}

/* Fancy Box - Story Box */

.fancy-box-stories{
    padding: 12% 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fancy-box-stories .story-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fancy-box-stories .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -5;
    transition: transform .6s;
    transform: scale(1.01);
}

.fancy-box-stories:hover .bg-image{
    transform: scale(1.05) translateZ(0);
}

.fancy-box-stories .bg-color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -4;
    transition: opacity .6s;    
    opacity:0;
    background-color:#EB0101;
}

.fancy-box-stories:hover .bg-color{
    opacity:1;
}

.fancy-box-stories .bg-image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16,16,16,0.57) 0%, rgba(16,16,16,0.65) 100%);
}

.fancy-box-stories .fancy-box-stories-inner{
    width: 70%;
}

@media screen and (max-width: 768px){
    .fancy-box-stories .fancy-box-stories-inner{
        width: 90%;
    }    
}

.fancy-box-stories .story-info h6{
    color: #E0E1E3;
}

.fancy-box-stories .story-description{
    margin-top: 300px;
}

@media screen and (max-width: 768px){
    .fancy-box-stories .story-description{
        margin-top: 230px;
    }    
}

.fancy-box-stories .story-description h4{
    color: #F9F9F9;
    max-width: 250px;
}

.fancy-box-stories .story-description p{
    color: #E0E1E3;
    font-family: 'Roboto Mono';
    margin-top: 40px;
    letter-spacing: 0;
    max-width: 335px;
}

.fancy-box-stories .story-description a{
    opacity: 0;
    transition: opacity 0.3s;
}

.fancy-box-stories:hover .story-description a{
    opacity: 1;
}

.fancy-box-stories:hover .btn-small.btn--black::after{
    background-color: #000;
}







/* Footer */

#footer .footer-top-links{
    border-top: 2px solid #E0E1E3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px){
    #footer .footer-top-links{
        padding: 15px 0;
    }
}

#footer .footer-top-links a{
    margin: 0 60px;
    padding: 32px 0px;
    letter-spacing: 1px;
    min-width: 170px;
    text-align: center;
}

@media screen and (max-width: 1000px){
    #footer .footer-top-links a{
        padding: 17px 0px;
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    #footer .footer-top-links a{
        margin: 0 20px;
    }
}

#footer .footer-top-links h6{
   margin-bottom: 0;
}

.footer-border-top-bottom{
    border-top: 2px solid #E0E1E3;
    border-bottom: 2px solid #E0E1E3;
}

.footer-content{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 100px 0;
    height: 100%;
}

@media screen and (max-width: 768px){
    .footer-content{
        padding: 60px 0;
    }
    .footer-content:not(.footer-border-right){
        padding-top: 15px;
    }
}

.footer-border-right{
    border-right: 2px solid #E0E1E3;
}

@media screen and (max-width: 768px){
    .footer-border-right{
        border-right: none;
    }
}

.footer-content-inner{
    width: 86%;
    max-width: 400px;
}

.footer-content h4{
    margin-bottom: 20px;
}

.footer-content p{
    margin-bottom: 55px;
}

.footer-content form input{
    display: block;
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footer-content form input:focus{
    outline: none;
}

.footer-content form input::placeholder{
    color: #343030;
    font-weight: 800;
}

.footer-content form input:nth-child(1),
.footer-content form input:nth-child(2),
.footer-content .super-shortcode-field{
    background-color: #F9F9F9;
    font-size: 15px;
    padding: 27px 16px;
    font-weight: 800;
    letter-spacing: .8px;
    height: 74px;
    border:0px!important;
}

.footer-content .super-shortcode.super-field.super-text.super-ungrouped{
    margin-bottom: 0;
    }
.footer-content .super-dropdown-ui .super-item.super-placeholder {
    color: #000!important;
    height: 74px!important;  
    background-color: #E0E1E3!important;
    border:0px!important;
}
.footer-content .super-dropdown-ui{
    border:0px!important;
}
.footer-content .super-field-size-huge .super-field .super-dropdown-arrow {
    top: 20px!important;
}
.footer-content .super-button-huge .super-button-name{
    /* height: 74px!important;   */
    font-size: 15px;
    padding: 18px 16px;
    font-weight: 800;
    letter-spacing: .8px;
}
.footer-content  .super-field {
    margin: 0px 0px 0px 0px;  
}
.footer-content  .super-field.super-checkbox {
    position: absolute;
    height: 37x;
    width: 100%;
    padding: 0px 0px;
    left: 0;
    top: 315px;
}

.footer-content form input:nth-child(3){
    background-color: #E0E1E3;
}

.footer-content form [type="submit"],
.super-button-name{
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;    
    height: 74px;

}

.footer-content form [type="submit"],
.footer-content form input{
    font-size: 15px;
    padding: 27px 16px;
    font-weight: 800;
    letter-spacing: .8px;
}



.footer-content form [type="checkbox"]{
    width: unset;
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.footer-content form .custom-checkbox{
    width: 22px;
    height: 22px;
    border: 2px solid #000;
    margin-right: 11px;
    position: relative;
}

.footer-content form .custom-checkbox::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #000;
    top: 2px;
    left: 2px;
    opacity: 0;
}

.footer-content form input:checked ~ .custom-checkbox::before{
    opacity: 1;
}

.footer-content form label{
    font-family: 'Roboto Mono';
    font-size: 14px;
    cursor: pointer;
}

footer .gdpr{
    margin-top: 70px;
}

footer .gdpr h6{
    margin-bottom: 2px;
}

footer .gdpr p{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}

footer .footer-bottom-links-inner{
    display: flex;
    justify-content: center;
    padding: 40px 0 30px;
    width: 86%;
    margin: 0 auto;
 }

footer .footer-bottom-links ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;
    margin-bottom: 0;
}

footer .footer-bottom-links ul li{
    width: 33.3%;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 15px;
}

footer .footer-bottom-links-inner-2 ul li{
    width: 35%;
}

@media screen and (max-width: 768px){
    footer .footer-bottom-links-inner{
        padding: 30px 0 20px;
    }

    footer .footer-bottom-links-inner-2 ul li{
        width: 100%;
        text-align: center;
        margin: 15px 0;
    }
    
}














/* Slider Test */

.spacer{
    padding: 200px 0;
}

.swiper-container{
    height: 900px;
}

.swiper-button-next{
    position: absolute;
    width: 16.7%;
    height: 100%;
    right: 0;
    top: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.swiper-button-next::after{
    content: '';
}

.posts-slider-navigation{
    position: absolute;
    top: 20px;
    left: 12%;
    z-index: 2;
}

@media screen and (max-width: 1000px){
    .posts-slider-navigation{
        position: relative;
        top: 0;
        
    }
}

.posts-slider-navigation ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.posts-slider-navigation ul li{
    font-size: 20px;
    margin-right: 10%;
    font-size: 65px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    white-space: nowrap;
}

.posts-slider-navigation ul li.active{
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1000px){
    .posts-slider-navigation ul li{
        font-size: 50px;
        margin-right: 5%;
        color: rgba(0, 0, 0, 0.7);
    }
    .posts-slider-navigation ul li.active{
        color: rgba(0, 0, 0, 1);
    }
}

@media screen and (max-width: 600px){
    .posts-slider-navigation ul li{
        font-size: 40px;
    }
}

@media screen and (max-width: 440px){
    .posts-slider-navigation ul li{
        font-size: 25px;
    }
}



.swiper-slide{
    text-align: center;
    overflow: hidden;
}

.swiper-slide .box-container {
    position: absolute;
    left: 14%;
    top: 16%;    
    width: 86%;
    height: 84%;
    /* opacity: 0; */
}
.swiper-slide .box-container .box-info{
    width: 340px;
    height: 340px;
    background-color: #fff;
    position: absolute;    
    z-index: 5;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.35s 0s;
 }

.swiper-slide .box-container .box-info:first-child{
   top: 10px;
   left: 0;  
}
.swiper-slide .box-container .box-info:nth-child(2){
    top: 360px;
    left: 0;  
 }
 .swiper-slide .box-container .box-info:nth-child(3){
    top: 10px;
    left: 350px; 
 }
 .swiper-slide .box-container .box-info:nth-child(4){
     top: 360px;
     left: 350px;  
  }

@media screen and (max-width: 768px){
    .swiper-slide .box-info{
        left: 50%;
        transform: translateX(-50%);
        top: 60px;
    }
}

@media screen and (max-width: 400px){
    .swiper-slide .box-info{
        width: 87vw;
        height: 87vw;
    }
}

.swiper-slide-active.swiper-slide .box-container .box-info{
    opacity: 1;
    transition: opacity 0.55s 0.8s;
}

.swiper-slide .box-info .box-info-date{
    margin-top: auto;
    font-family: 'Roboto Mono';
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 0px;
    line-height: 1;
    margin-bottom: 17px;
}
.swiper-slide .box-info .box-info-desc{
    margin-top: auto;
    /* font-family: 'Roboto Mono'; */
    /* font-size: 64px;
    font-weight: 800; */
    letter-spacing: 0px;
    line-height: 1.2;
    margin-bottom: 17px;
}

.posts-slider a.btn-small{
    align-self: flex-start;
}

.swiper-slide .bg-image-wrapper{
    transform: scale(1.05);
    height: 100%;
    filter: brightness(0.5);
}

.swiper-slide .bg-image-inner{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(15px);
    transition: filter 0.7s;
}

/* B U G - Filter flickering on transition */
/* B U G - Filter flickering on transition */
/* B U G - Filter flickering on transition */

.swiper-slide-active .bg-image-inner{
    filter: blur(0px);
}


/* wpBakery templates css */
.only-texts-row{
    padding-top:150px;
    padding-bottom: 80px;  
}
.small-title-row{
    padding-top:100px;
    padding-bottom: 40px;
}
.double-image-row{
    padding-top:80px;
    padding-bottom: 80px;  
    padding:80px 5%;
    /* max-width:1400px;
    margin:0 auto; */
}


/* BLACK PAGE */
.black-page{
    background-color: #000;
    color:#fff;
}
.black-page .fancy-box-img-on-hover::before {
    background-color: #000;
}
/* END BLACK PAGE */